.loginLink {
  font-size: 18px;
  padding: 16px;
  border-radius: 32px;
}

.loginLink:hover {
  background-color: #f1f1f1;
}

@media (max-width: 475px) {
  .userButton {
    display: none;
  }
}
